.user_img-s{
    border: 3px solid rgb(0, 100, 0);
    border-radius: 50%;
}
.font_family-s{
    font-family: 'Roboto', sans-serif;
}
.font_lato-s{
    font-family: 'Lato', sans-serif !important;
}
.invitaion_btn-s{
    border: 2px solid rgb(0, 100, 0);
    color: black;
    border-radius: 10px;
    width: 216px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
}
.fs_20px-s{
    font-size: 20px;
    font-weight: 600;
}

.hire_players_btn-s{
    border: 2px;
    color: rgb(210, 225, 213);
    border-radius: 10px;
    width: 216px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
}

.f_weight-s{
    font-weight: 600;
}
button:hover{
    border: 2px solid rgb(0, 100, 0);
    color: black;
    border-radius: 10px;
    width: 216px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
}
.container_bg-clr{
    background-color:rgb(229, 238, 231);
}
.family_roboto-s{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(0, 100, 0);
}
.f_color-s{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.font_roboto-s{
    font-family: 'Roboto', sans-serif;
}
.bg_green-s{
    background-color: rgb(0, 100, 0);
}
.w_56px-s{
    width: 54px;
}
.b_top_botom_10px-s{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.h_10px-s{
    height: 16px;
}




/* Card CSS */

.card {
    background-color: rgb(0, 100, 0);
    width: 350px;
    border-radius: 20px
}

.heading {
    font-weight: 700
}

.hour {
    margin-top: 1px;
    color: green;
    font-size: 12px
}

.ratings i {
    color: #388E3C
}

.btn {
    border-radius: 15px !important
}

.stats-margin {
    border-bottom: 1px solid white;
    height: 2px;
    width: 90%; 
}

.fa-heart{
    float: right;
    font-size: 25px;
    background-color: white;
    height: 3rem;
    width: 3rem;
    padding: 1rem 2.5rem 2.5rem 1rem;
    border-radius: 50%;
    color:rgb(0, 100, 0) ;
}
.fs-12px-s{
    font-size: 12px;
    color: white;
}
.fs-11px-s{
    font-size: 11px;
    font-weight: 400;
    opacity: 50%;
    
    
}
.fg_yellow-s{
    color: yellow;
    font-size: 10px;
}
.rating_text{
    color: white;
    font-size: 18px;
    float: right;
    margin-right: 1.5rem;
    font-weight: 600;
}
.td_none-s:hover{
    text-decoration: none;
}