/* Specific Elements Styling */

.main_search_bar-s{
    background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    height: 39px;
    width: 100%;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    

}
.search_input_b-s{
    outline: none !important;
    border: none;

}
.search_input_b-s:focus{
    outline: none !important;
    border: none;
    box-shadow: none;

}
.search_box-s{
    width: 97%;
    display: flex;
    justify-content: space-between;   
}
.icon_w_30px-s{
    width: 30px;
}
.search_glass_w_20px-s{
    width: 20px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.overflow_scroll-s::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow_scroll-s {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
 } /* Firefox */


/* Generic Styles */

.active{
    color: blue;
    border-bottom: 3px solid red;
}

.more_links_hr-s{
    background-color: #dadce0;
    border: 0;
    height: 1px;
    left: 0;
    margin-top: 18px;
    position: absolute;
    width: 100%;
}
.z{
    background: #fff;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    pointer-events: auto;
    position: relative;
    width: 300px;
    padding: 7px 11px;
    height: 36px;
    border-radius: 18px;
}
.td_none-s:hover{
    text-decoration: none;
}
.td_underline-s:hover{
    text-decoration: underline;
}
.bg_hover_cream-s:hover{
    background-color: rgb(245, 245, 245);
}
.text_black-s{
    color: black;
}
.text_purple-s{
    color: #1a0dab;
}
.td_purple_underline-s:hover{
    text-decoration: underline #1a0dab;
}
.b_none-s{
    border: none;
}
.fs_14px-s{
    font-size: 14px;
}
.fs_12px-s{
    font-size: 12px;
}
.fs_11px-s{
    font-size: 11px;
}
.fs_16px-s{
    font-size: 16px;
}
.fs_25px-s{
    font-size: 25px;
}
.fs_20px-s{
    font-size: 20px;
}
.fw_400-s{
    font-weight: 400;
}
.fw_500-s{
    font-weight: 500;
}
.fw-300-s{
    font-weight: 300;
}
.br_20px-s{
    border-radius: 20px;
}
.br_8px-s{
    border-radius: 8px;
}
.b_1px-s{
    border:1px #dadce0 solid;;
}
.br_10px-s{
    border-radius: 10px;
}
.fs_10px-s{
    font-size: 10px;
}
.br-50-s{
    border-radius: 50%;
}
.br_5px-s{
    border-radius: 5px;
}
.d_inline_block-s{
    display: inline-block;
}
.color_grey-s{
    color: rgb(135, 138, 142);
}
.h_50px-s{
    height: 50px;
}
input [type="text"]:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.s_contain-s{
    
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
}
.play_icon-s{
    height: 35px;
    line-height: 35px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 60px;
}
.underline_h5-s h5:hover{
    text-decoration: underline #1a0dab ;
}
.button_hover_shadow-s:hover{
    border: 1px solid gray;
    background-color: rgb(214, 211, 211);
}
.box_shadow_hover-s:hover{
    box-shadow: rgb(135, 138, 142);
}
.w_min_width-s{
    width: min-content;
}
.text_black-s:hover{
    color: black;
}
.overflow_scroll-s{
    display: flex;
    width: 100%;
    height: 100px;
    overflow: scroll;
}
.scroll_right_toggler-s{
    background-color: #fff;
    bottom: 0;
    box-shadow: -1px 0 6px rgb(0 0 0 / 20%);
    cursor: pointer;
    display: block;
    height: 72px;
    margin: auto;
    outline: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 36px;
    z-index: 1;
    -webkit-user-select: none;
}
.scroll_left_toggler-s{
    background-color: #fff;
    bottom: 0;
    box-shadow: -1px 0 6px rgb(0 0 0 / 20%);
    cursor: pointer;
    display: block;
    height: 72px;
    margin: auto;
    outline: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 36px;
    z-index: 1;
    -webkit-user-select: none;
}
.rounded_right_div-s{
    border-radius: 36px 0 0 36px;
    margin: 0 auto;
    right: 0;
    top: 145px;
}
.rounded_left_div-s{
    border-radius: 0 36px 36px 0;
    margin: 0 auto;
    left: 0;
    top: 145px;
}
.scroll_toggler_right_position-s{
    bottom: 0;
    display: block;
    fill: #000;
    height: 40px;
    margin: auto 0;
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 25px;
}
.scroll_toggler_left_position-s{
    bottom: 0;
    display: block;
    fill: #000;
    height: 40px;
    margin: auto 0;
    position: absolute;
    top: 12px;
    left: 8px;
    font-size: 25px;
}
.object_contain-s{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    
}
.box_shadow-s:hover{
    box-shadow:  darkgray;
}
.mb_48px-s{
    margin-bottom: 48px;
}
.w_min_content-s{
    width: fit-content;
}
.max_w_fit_content-s{
    max-width:fit-content;
}
.h_222px-s{
    height: 222px;
}
/* .min_w-201px-s{
    min-width: auto;
} */
.max_w_300px-s{
    max-width: 347px;
}
.bg_dark-s{
    background-color:  rgb(20, 21, 24);
}
.bg_black-s{
    background-color: black;
}
.w_540px-s{
    width: 520px;
}
.max_h_360px-s{
    max-height: 360px;
}
.bg_sky_blue-s{
    background-color: rgb(66, 133, 244);
}
.visit_btn-s:hover{
    text-decoration: underline;
}
.fw_800-s{
    font-weight: 800;
}
.fs_40px-s{
    font-size: 40px;
}
.position_absolute_cross-s{
    position: absolute;
    top: 10px;
    left: 25px;
    color: rgb(103, 117, 125);
}
.position_absolute_cross-s:hover{
    color: rgb(197, 197, 197);
}

.position_absolute_right-s {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(103, 117, 125);
}
.position_absolute_right-s:hover{
    color: rgb(197, 197, 197);
}
.position_absolute_left-s{
    position: absolute;
    top: 10px;
    right: 50px;
    color: rgb(103, 117, 125);
}
.position_absolute_left-s:hover{
    color: rgb(197, 197, 197);
}
/* .position_absolute_dots-s{
    position: absolute;
    bottom: 350px;
    right: 75px;
} */
.mystyle{
    border: 1px solid rgb(64, 129, 237);
    background-color: rgb(232, 240, 254);
    border-radius: 0.5em;
}
.dropdown_toggle-s {
    font: 400 1.5rem/1.25 sans-serif;
    color: rgb(103, 117, 125);
    background: transparent;
    position: absolute;
    top: -357px;
    right: 60px;
    border: none;
    
}
.dropdown_toggle-s:hover{
    background-color: transparent;
    color: rgb(197, 197, 197);
}
/* .dropdown_toggle-s:focus{
    background-color: transparent;
    outline: none;
    border: none;
} */
.dropdown_item-s:hover{
    color: white;
    background-color: rgb(102, 103, 104);
    
}
.dropdown_item-s{
    color:rgb(103, 117, 125);
}
.overflow_tooltip-s {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.w_238px-s{
    width: 238px;
}
.w_186px-s{
    width: 186px;
}
.w_167px-s{
    width: 167px;
}
.w_318px-s {
    width: 318px;
}
.w_315px-s {
    width: 315px;
}
.w_320px-s {
    width: 320px;
}
.position_sticky-s{
    position: sticky;
    height: 1000px;
    top: 65px;
    
}






/* Library  */

.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:rgba(145, 145, 145, 0.226);
    border: 1px solid black;
    border-radius: .25rem;
    
}
ul {
    list-style-type: none;
}
a{
    color: #1a0dab;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.active{
    color: red;
}

.dropdown-toggle::after {
    display: none !important;
    
}










